/* RESET */
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
/* COMMON */
body{
    background-color: black;
    height: 100vh;
}


/* HEADER */

header{
    text-align: right;
    height: 20px;
    width: 100%;
    margin-bottom: 30px;
   
}
span{
    color: white;
    width: 30px;
    background-color: gray;
}

/* MAIN */
main{
  height:calc(100%-120px);
  width: 90%;
  margin:auto;
  overflow-y: auto;
  padding-bottom: 20px;
}
.people{
    display: flex;
    flex-wrap: wrap;

}
.container-img{
    position:relative;
    width: calc(90%/ 7);
    padding: 10px; 
    
}
img{
    width:100%;
}
.mic{
    color:white;
    position: absolute;
    bottom: 2px;
    left: 0;
    background-color: rgba(52, 49, 49, 0.6);
}


/* FOOTER */
footer{
    height: 90px ;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}
.left-footer{
    width:20%;
    text-align: left;
    display: flex;
}
.middle-footer{
    width:60%;
    text-align: center;
    display: flex;
}
.right-footer{
    width:20%;
    text-align: right;
    
}
.microfono{
    display: flex;
}
